/*!------------------------------------------------------------------
[font-faces]
config font-faces at </fonts/**>
경로를 /fonts/ 로 해주지 않으면... root에서 시작하지 않고 상대경로로 가서 못찾음
-------------------------------------------------------------------*/

/* Exo_2 */
/* 티웨이날다랑 비슷하고 깔끔한 영문폰트로 고름 */
@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-ExtraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-ExtraBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2 600';
	src: url('/fonts/Exo_2/Exo2-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2';
	src: url('/fonts/Exo_2/Exo2-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}


/* 티웨이날다, 항공 */
@font-face {
	font-family: 'twayfly';
	src: url('/fonts/tway/twayfly.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'twayair';
	src: url('/fonts/tway/twayair.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}